.overlay {
  position: absolute;
  bottom: 91.5%;
  left: 27px;
  right: 0;
  background: rgb(173,216,230,0.8);
  overflow: hidden;
  width: 308px;
  height:0;
  transition: .5s ease;
  border-radius:8px;
}

.container:hover .overlay {
  bottom: 12px;
  height: 335px;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 25px;
  text-shadow:1px 1px 1px #000;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
