nav.navbar.navbar-default {
  margin-bottom: 0px;
  background-color: darkblue;
  color: white;
  position: fixed;
  z-index: 50;
  width: 100%;
  border-color: rgba(0,0,0,0);
}

.NavLink {
  color: lightblue;
}
